@model ElectronicPartsProject.Models.DBElectronicPartsModel.category

@{
    ViewBag.Title = "Category - Delete";
    var filters = ViewBag.CurrentFilters as ElectronicPartsProject.Models.CategoryFilterVM ?? new ElectronicPartsProject.Models.CategoryFilterVM();
}

<br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>category</h4>
    <hr />
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.global_ref_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.global_ref_des)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        //@Html.AntiForgeryToken()
        @*@Html.HiddenFor(model => model.category_id)*@
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", "Category", new
            {
                filters.CategoryName,
                filters.GlobalRefDes,
                page = ViewBag.CurrentPage
            }, new { @class = "btn btn-default" })  |
            <input type="submit" value="Delete" class="btn btn-danger" />
            @*@Html.ActionLink("Back to List", "Index", "Category")*@
        </div>
    }
</div>
